.home {
    position: relative;
    min-height: 100vh;
    text-align: center;
    background: url(/images/home/background.png) no-repeat center center fixed;
    background-size: cover;

    h1{
        font-size: 4.5em;
        font-family: 'DM Serif Display', serif;
    }

    &--button {
        font-family: 'DM Serif Display', serif;
        text-decoration: none;
        width: 12.5em;
        margin: 0 auto;
        display: block;
        font-size: 1.5em;
        padding: .5em 2em;
        color: black;
        border: 2px solid #DBF5F8;
        border-radius: 30px;
        background: #DBF5F8;

        &:hover {
            cursor: pointer;
            background: transparent;
            color: #DBF5F8;
        }
    }
}

@media screen and(max-width: 765px) {
    .home {
        h1 {
            font-size: 2.5em;
        }

        p {
            font-size: 1.3em;
        }
    }
}